<div class="row no-padding top-50">
    <div id="tab-materials" class="col-md-6 tab-block tab-inverse">
        <h2 class="tab-title">{{ 'page_footer.materials'|trans() }}</h2>
        <div class="tab-text text-small">
            {{ 'page_footer.block_1'|trans() }}
        </div>
        <a href="{{ path('front.page.index', {'slug': 'materials'}) }}" class="btn-medium btn-circle btn bg-white text-black">{{ 'read_more'|trans() }} ></a>
    </div>
    <div id="tab-devices" class="col-md-6 tab-block tab-inverse">
        <h2 class="tab-title">{{ 'page_footer.devices'|trans() }}</h2>
        <div class="tab-text text-small">
            {{ 'page_footer.block_2'|trans() }}
        </div>
        <a href="{{ path('front.page.index', {'slug': 'devices'}) }}/" class="btn-medium btn-circle btn bg-white text-black">{{ 'read_more'|trans() }} ></a>
    </div>
</div>