{% extends '@Order/Email/base.html.twig' %}

{% block content %}
   <p>Заказ с сайта atelier-caviar.ru</p>
   <h3>Раздел Конструктор 3D</h3><br/>

   <p><b>Имя клиента</b> : {{ username }}</p>
   <p><b>Email</b> : {{ useremail }}</p>
   <p><b>Телефон</b> : {{ userphone }}</p>
   <p><b>Комментарий</b> : {{ usercomment }}</p>
   <p><b>Браузер</b> : {{ userbrouser }}</p>
   <p><b>Опции</b> :</p>
   {{ options|raw }}
   <p><b>Сервисные работы :</b></p>
   <p>Сборка и разборка телефона, тестирование (10 000 руб.)</p>
   <p>Упаковка: Кожанная коробка Ателье Caviar (15 000 руб.)</p>
   <hr>
   {% if price|length > 0 %}
      <p><b>Примерная стоимость</b> : {{ price }} руб.</p>
   {% endif %}
{% endblock %}