{% extends '@Order/Email/base.html.twig' %}

{% block content %}
   <p>Заказ с сайта atelier-caviar.ru</p>
   <h3>Раздел Конструктор 3D</h3><br/>

   <p><b>Имя клиента</b> : {{ username }}</p>
   <p><b>Email</b> : {{ useremail }}</p>
   <p><b>Телефон</b> : {{ userphone }}</p>
   <p><b>Комментарий</b> : {{ usercomment }}</p>
   <p><b>Браузер</b> : {{ userbrouser }}</p>
   <p><b>Опции | Цены</b> :</p>
   <ul>
   {% for key, value in arr_price %}
   
   <li>{{ value|raw }}</li>

   {% endfor %}
   </ul>
   <p><b style='color:red;'>ВНИМАНИЕ! Перед созвоном с клиентом необходимо пересчитать стоимость индивидуального заказа по прайсу!</b></p>

   <a href="{{ conf_link }}"><h3>Ссылка на собранную 3D-модель</h3></a>

   {% if link_mono is empty or link_mono == '0' %}
   {% else %}
      <a href="{{ link_mono }}"><h3>Ссылка на символы монограммы</h3></a>
   {% endif %}
   
{% endblock %}