{% extends '@App/User/layout.html.twig' %}

{% block content %}
	<h2>{{ 'user.get_user_points.title'|trans() }}</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>                
                <th>{{ 'user.get_user_points.title_mark'|trans() }}</th>
                <th>{{ 'user.get_user_points.descr_mark'|trans() }}</th>
                <th>{{ 'user.get_user_points.year'|trans() }}</th>
                <th><i class="fa fa-cog" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for point in points %}
            <tr>
                <td>{{ point.title }}</td>
                <td>{{ point.description }}</td>
                <td>{{ point.year }}</td>
                <td class="text-center">
                    <a href="{{ path('user.get.point', {'id': point.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(points) }}
    </div>

{% endblock %}