{% extends '@App/Front/layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>    
            {% endif %}

            <h2 class="mb-4">{{ 'auth_form.title'|trans() }}</h2>           
            
            {# form_start(form, {'action': path('login'), 'method': 'POST'}) #}
            {{ form_start(form) }}
                {{ form_row(form._email) }}
                {{ form_row(form._password) }}
                {{ form_row(form._remember_me) }}
            <button class="btn btn-secondary" type="submit"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'enter'|trans() }}</button>
            {{ form_end(form) }}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}               
            {% else %}
                 <p class="mt-3"><a href="{{ path('register') }}">{{ 'reg'|trans() }}</a></p>
                 <p class="mt-1"><a href="{{ path('reset_pass') }}">{{ 'res_pass'|trans() }}</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}