{% extends '@App/Front/layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
        	<h2 class="mb-4">{{ 'reg_form.title'|trans() }}</h2>

			{{ form_start(form) }}
			    {{ form_row(form.username) }}
			    {{ form_row(form.email) }}
			    {{ form_row(form.plainPassword.first) }}
			    {{ form_row(form.plainPassword.second) }}
			    <div class="form-group quest-block">
				    <span class="">{{ captcha }}</span>
			    	{{ form_widget(form.abc) }}
			    </div>

			    <button class="btn btn-secondary" type="submit">{{ 'reg_form.button'|trans() }}</button>
			{{ form_end(form) }}

		  </div>
    </div>
</div>

{% endblock %}